body p{
    text-align: center;
    color: black;
    padding-top: 50 px;
}
header{
    /* background-color: grey; */
    border-style: solid;
    border-color: black;
    border-radius: 1px;
    border-width: 2px;
}
.div4{
    /* background-color: grey; */
    border-style: solid;
    border-color: black;
    border-radius: 1px;
    border-width: 2px;

}
/* main .div1 p{
    background-color: grey;

} */
.div1{
    border-style: solid;
    border-color: black;
    border-radius: 1px;
    border-width: 2px;

}
.div2{
    border-style: solid;
    border-color: black;
    border-radius: 1px;
    border-width: 2px;
}
/* main .div2 p{
    background-color: grey;
} */


main .div3 p{
    /* background-color: grey; */
    border-style: solid;
    border-color: black;
    border-radius: 1px;
    border-width: 2px;

}

footer{
    border-style:solid;
    border-color: black;
    border-radius: 1px;
    border-width: 2px;

}