
/* DESKTOP VIEW */
@media only screen and (min-width: 768px) {
    header{
        width: 960px;
        height: 100px;
        
        }
        header p{
            text-align: center;
            margin-top: 4%;
        }
        .div1{
            float: left;
            margin-left: auto;
            margin-right: 0px;
        
        }
        .div2{
            margin-left: 60%;
        
            
        }
         main .div1 p{
            width: 380px;
            height: 200px;
            text-align: center;
            padding-top: 20%;
        }
        
        main .div2 p{
            width: 380px;
            height: 200px;
            text-align: center;
            padding-top: 20%;
        }
        
        main .div3 p{
            width: 190px;
            height: 250px;
            display: inline-block;
            float: left;
            text-align: center;
            padding-top: 10%;
            
        }
        
        .div3 .f{
            margin-left: 0;
            margin-bottom: 0%;
        }
        .div4{
        width: 200px;
        height: 600px;
        float: left;
        box-sizing: border-box;
        }
        
        .div4 p{
            text-align: center;
            margin-top: 250px;
        }
        
        footer{
           margin-left:200px; 
           float: left;
           width: 760px;
           height: 150px;
           position:absolute;
             /* bottom: 0;
           left:300;
           top: 500; */
          margin-top: 247px;
        }
        footer p{
            text-align: center;
            padding-top: 70px;
        }
    }
        /* MOBILE VIEW */
        @media only screen and (max-width: 767px) {
           
            header {
                width: 480px;
                height: 75px;
                /* line-height: 75px; */
            }
            header p{
                text-align: center;
                margin-top: 20px;
            }
        
            .div4 {
                width: 480px;
                height: 150px;
                /* line-height: 150px; */
            }
            .div4 p{
                text-align: center;
                margin-top: 60px;  
            }
        
            .div1 {
                width: 480px;
                height: 125px;
                line-height: 125px;
            }
        
            .div2 {
                width: 480px;
                height: 125px;
                line-height: 125px;
            }
        
             main .div1 p{
                width: 480px;
                height: 120px;
                text-align: center;
                /* padding-top: 20%; */
            }
            
            main .div2 p{
                width: 480px;
                height: 120px;
                text-align: center;
                /* padding-top: 20%; */
            }
            
            main .div3 p{
                width: 240px;
                height: 250px;
                display: inline-block;
                float: left;
                text-align: center;
                padding-top: 10%;
                
            }
            
            /* .div3 .f{
                margin-left: 0;
                margin-bottom: 0%;
            } */
             /* aside{
            width: 200px;
            height: 600px;
            float: left;
            box-sizing: border-box;
            }
            
            aside p{
                text-align: center;
                margin-top: 250px;
            }  */
            
            footer{
               /* margin-left:200px;  */
               float: left;
               width: 480px;
               height: 80px;
               /* position:absolute; */
              /* margin-top: 247px; */
            }
            footer p{
                text-align: center;
                padding-top: 30px;
            } 
        }